
#explore-section {
    background-image: url('./explore-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#explore-section .content {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding: 150px 0;
}

#explore-section .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #0000009a;
    padding: 25px;
    width: 35%;
}

#explore-section h4 {
    margin-bottom: 25px;
}

#explore-section p {
    margin-bottom: 50px;
}

#explore-section a {
    background-color: var(--gold);
    margin-top: auto;
    padding: 5px 25px;
    text-decoration: none;
    color: #000000;
    font-size: 1.777rem;
}
